body {
    padding-top: 60px;
    padding-bottom: 30px;
}

footer .navbar {
    min-height: 30px;
}

footer .navbar .copyright {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 5px 15px;
}
